<a href="https://colab.research.google.com/github/rajasimha5/ICP1/blob/main/Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
s='python'
strr=list(s)
del strr[0:2]
strr.reverse()
res=''.join(strr)
print(res)

noht

In [3]:
a=float(input("enter number1"))
b=float(input("enter number2"))
c=a+b
d=a-b
e=a*b
f=a%b
print(c)
print(d)
print(e)
print(f)

enter number12
enter number23
5.0
-1.0
6.0
2.0

In [5]:
strr='i love playing with python'
strr2=strr.replace("python","pythons")
print(strr2)

i love playing with pythons

In [7]:
input_score=float(input("enter score"))
if input_score>=90:
  grade='a'
elif input_score>=80:
  grade='b'
elif input_score>=70:
  grade='c'
elif input_score>=60:
  grade='d'
else:
  grade='f'
print(grade)

enter score88
b

In [8]:
x=[23,'Python',23.98]
print(x)
types=[type(i) for i in x]
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [10]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
a = {19, 22, 24, 20, 25, 26}
b = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of it companies",len(IT_companies))
IT_companies.add("Twitter")
print(IT_companies)
IT_companies.update(['sony','intel'])
print(IT_companies)
IT_companies.remove('sony')
print(IT_companies)
print("a union b",a.union(b))
print("a intersection b",a.intersection(b))
print("is a subset of b",a.issubset(b))
print("is disjoint of b",a.isdisjoint(b))
print("join a with b",a.union(b))
print("join b with a",b.union(a))
print("symmetric difference",a.symmetric_difference(b))
del a
del b
print("length of age list",len(age))
age_set=set(age)
print("length of age set",len(age_set))

length of it companies 7
{'IBM', 'Facebook', 'Amazon', 'Twitter', 'Microsoft', 'Apple', 'Oracle', 'Google'}
{'Amazon', 'Twitter', 'sony', 'Apple', 'Oracle', 'Google', 'IBM', 'Facebook', 'intel', 'Microsoft'}
{'Amazon', 'Twitter', 'Apple', 'Oracle', 'Google', 'IBM', 'Facebook', 'intel', 'Microsoft'}
a union b {19, 20, 22, 24, 25, 26, 27, 28}
a intersection b {19, 20, 22, 24, 25, 26}
is a subset of b True
is disjoint of b False
join a with b {19, 20, 22, 24, 25, 26, 27, 28}
join b with a {19, 20, 22, 24, 25, 26, 27, 28}
symmetric difference {27, 28}
length of age list 8
length of age set 5